html {
  height: 100%;
}
body {
  /* background-color: #222831; */
  background-image: url("sfondo.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  color: seashell !important;
}
.center {
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
}
.typewrite {
  text-decoration: none;
}
.wrap {
  font-size: 110px;
}
.mids {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.center2 {
  text-align: center;
}
.poster {
  width: 200px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.imgposter {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}
a {
  color: seashell !important;
}

.sett {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
.form-check {
  display: inline-block !important;
  margin-right: 15px !important;
}
.itemsett {
  background-color: #424242;
  border-radius: 10px;
  border: 2px solid white;
}
.footer {
  position: fixed;
  left: 0;
  border-radius: 10px;
  bottom: 0;
  height: 50px;
  text-align: center;
  width: 100%;
  background-color: #424242;
  border: 2px solid white;
  color: white;
  text-align: center;
}

.sugg {
  background-color: white;
  position: absolute;
  top: 50px;
  border-radius: 3px;
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
  overflow: hidden;
  color: black;
  z-index: 999;
  width: 208px;
}
.itmsugg {
  margin: 5px;
  border: 2px solid black;
  border-radius: 3px;
}

.pagination {
  justify-content: center !important;
}
.page-link {
  color: black !important;
}

.alert-link {
  color: black !important;
  text-decoration: none;
}

h3 {
  color: red;
  margin-top: 20%;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #424242;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #266e88 !important;
  color: white !important;
}
.inner {
  display: inline-grid;
  margin: 10px;
  text-align: center;
  width: 250px;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #266e88 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}

.dropdown-item {
  color: black !important;
}
@media only screen and (max-width: 600px) {
  .sugg {
    background-color: white;
    position: absolute;
    top: 93px;
    border-radius: 3px;
    -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
    overflow: hidden;
    color: black;
    z-index: 999;
    width: 157px;
  }
  .wrap {
    font-size: 50px;
  }
  .poster {
    width: 100px;
    display: inline-block;
    margin: 10px;
    text-align: center;
  }

  .imgposter {
    width: 100px;
    height: 160px;
    border-radius: 10px;
  }
  .inner {
    display: inline-grid;
    margin: 10px;
    text-align: center;
    width: 150px;
  }

  .center {
    /* text-align: center; */
    width: 100%;
    margin: 0 auto;
  }
}
